<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1028},{183,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,92}}</string>
                <key>sourceSize</key>
                <string>{183,92}</string>
            </dict>
            <key>1a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,408},{139,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,73}}</string>
                <key>sourceSize</key>
                <string>{139,73}</string>
            </dict>
            <key>1a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,796},{199,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,108}}</string>
                <key>sourceSize</key>
                <string>{199,108}</string>
            </dict>
            <key>1b.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,408},{219,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,117}}</string>
                <key>sourceSize</key>
                <string>{219,117}</string>
            </dict>
            <key>1b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1501},{143,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,79}}</string>
                <key>sourceSize</key>
                <string>{143,79}</string>
            </dict>
            <key>1b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{235,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,133}}</string>
                <key>sourceSize</key>
                <string>{235,133}</string>
            </dict>
            <key>1c.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,506},{167,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,146}}</string>
                <key>sourceSize</key>
                <string>{167,146}</string>
            </dict>
            <key>1c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1619},{113,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,97}}</string>
                <key>sourceSize</key>
                <string>{113,97}</string>
            </dict>
            <key>1c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{183,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,162}}</string>
                <key>sourceSize</key>
                <string>{183,162}</string>
            </dict>
            <key>1d.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1307},{162,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,164}}</string>
                <key>sourceSize</key>
                <string>{162,164}</string>
            </dict>
            <key>1d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1856},{125,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,127}}</string>
                <key>sourceSize</key>
                <string>{125,127}</string>
            </dict>
            <key>1d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1018},{178,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{178,180}</string>
            </dict>
            <key>1e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{245,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,131}}</string>
                <key>sourceSize</key>
                <string>{245,131}</string>
            </dict>
            <key>1e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1645},{155,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,86}}</string>
                <key>sourceSize</key>
                <string>{155,86}</string>
            </dict>
            <key>1e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,253},{261,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,147}}</string>
                <key>sourceSize</key>
                <string>{261,147}</string>
            </dict>
            <key>1f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{176,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,178}}</string>
                <key>sourceSize</key>
                <string>{176,178}</string>
            </dict>
            <key>1f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1619},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>1f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,849},{193,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,194}}</string>
                <key>sourceSize</key>
                <string>{193,194}</string>
            </dict>
            <key>1g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1487},{157,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,156}}</string>
                <key>sourceSize</key>
                <string>{157,156}</string>
            </dict>
            <key>1g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1723},{106,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{106,105}</string>
            </dict>
            <key>1g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,654},{173,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,172}}</string>
                <key>sourceSize</key>
                <string>{173,172}</string>
            </dict>
            <key>1h.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1464},{149,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,150}}</string>
                <key>sourceSize</key>
                <string>{149,150}</string>
            </dict>
            <key>1h2.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,1816},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>1h3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{165,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,166}}</string>
                <key>sourceSize</key>
                <string>{165,166}</string>
            </dict>
            <key>1i.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1471},{146,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,163}}</string>
                <key>sourceSize</key>
                <string>{146,163}</string>
            </dict>
            <key>1i2.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1739},{89,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,100}}</string>
                <key>sourceSize</key>
                <string>{89,100}</string>
            </dict>
            <key>1i3.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1122},{162,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,179}}</string>
                <key>sourceSize</key>
                <string>{162,179}</string>
            </dict>
            <key>2a.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1618},{139,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,138}}</string>
                <key>sourceSize</key>
                <string>{139,138}</string>
            </dict>
            <key>2a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,688},{109,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,106}}</string>
                <key>sourceSize</key>
                <string>{109,106}</string>
            </dict>
            <key>2a3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1569},{155,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,154}}</string>
                <key>sourceSize</key>
                <string>{155,154}</string>
            </dict>
            <key>2b.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1582},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>2b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,529},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>2b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1461},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>2c.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1306},{162,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,153}}</string>
                <key>sourceSize</key>
                <string>{162,153}</string>
            </dict>
            <key>2c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1758},{91,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,86}}</string>
                <key>sourceSize</key>
                <string>{91,86}</string>
            </dict>
            <key>2c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,189},{179,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,169}}</string>
                <key>sourceSize</key>
                <string>{179,169}</string>
            </dict>
            <key>2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1044},{180,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,95}}</string>
                <key>sourceSize</key>
                <string>{180,95}</string>
            </dict>
            <key>2d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,549},{137,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,75}}</string>
                <key>sourceSize</key>
                <string>{137,75}</string>
            </dict>
            <key>2d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,865},{196,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,111}}</string>
                <key>sourceSize</key>
                <string>{196,111}</string>
            </dict>
            <key>2e.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1298},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>2e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,344},{84,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>2e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,977},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2f.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,139},{269,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,112}}</string>
                <key>sourceSize</key>
                <string>{269,112}</string>
            </dict>
            <key>2f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1350},{155,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,69}}</string>
                <key>sourceSize</key>
                <string>{155,69}</string>
            </dict>
            <key>2f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{285,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,128}}</string>
                <key>sourceSize</key>
                <string>{285,128}</string>
            </dict>
            <key>2g.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,527},{217,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,137}}</string>
                <key>sourceSize</key>
                <string>{217,137}</string>
            </dict>
            <key>2g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1198},{165,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,107}}</string>
                <key>sourceSize</key>
                <string>{165,107}</string>
            </dict>
            <key>2g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,253},{233,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,153}}</string>
                <key>sourceSize</key>
                <string>{233,153}</string>
            </dict>
            <key>2h.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,607},{214,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,187}}</string>
                <key>sourceSize</key>
                <string>{214,187}</string>
            </dict>
            <key>2h2.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,431},{96,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,83}}</string>
                <key>sourceSize</key>
                <string>{96,83}</string>
            </dict>
            <key>2h3.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,402},{230,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,203}}</string>
                <key>sourceSize</key>
                <string>{230,203}</string>
            </dict>
            <key>2i.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{132,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,114}}</string>
                <key>sourceSize</key>
                <string>{132,114}</string>
            </dict>
            <key>2i2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1298},{86,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,75}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>2i3.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1615},{148,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,130}}</string>
                <key>sourceSize</key>
                <string>{148,130}</string>
            </dict>
            <key>2j.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1286},{158,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,172}}</string>
                <key>sourceSize</key>
                <string>{158,172}</string>
            </dict>
            <key>2j2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1733},{121,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,132}}</string>
                <key>sourceSize</key>
                <string>{121,132}</string>
            </dict>
            <key>2j3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,828},{174,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,188}}</string>
                <key>sourceSize</key>
                <string>{174,188}</string>
            </dict>
            <key>3-c.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,370},{134,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,169}}</string>
                <key>sourceSize</key>
                <string>{134,169}</string>
            </dict>
            <key>3-c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1846},{98,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,120}}</string>
                <key>sourceSize</key>
                <string>{98,120}</string>
            </dict>
            <key>3-c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{150,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,185}}</string>
                <key>sourceSize</key>
                <string>{150,185}</string>
            </dict>
            <key>3-d.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1446},{121,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,158}}</string>
                <key>sourceSize</key>
                <string>{121,158}</string>
            </dict>
            <key>3-d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,613},{80,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,102}}</string>
                <key>sourceSize</key>
                <string>{80,102}</string>
            </dict>
            <key>3-d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1159},{137,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,174}}</string>
                <key>sourceSize</key>
                <string>{137,174}</string>
            </dict>
            <key>3-e.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,666},{209,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,181}}</string>
                <key>sourceSize</key>
                <string>{209,181}</string>
            </dict>
            <key>3-e2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1718},{109,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,96}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>3-e3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{225,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,197}}</string>
                <key>sourceSize</key>
                <string>{225,197}</string>
            </dict>
            <key>3-f.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1847},{121,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,104}}</string>
                <key>sourceSize</key>
                <string>{121,104}</string>
            </dict>
            <key>3-f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1968},{88,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,77}}</string>
                <key>sourceSize</key>
                <string>{88,77}</string>
            </dict>
            <key>3-f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1725},{137,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,120}}</string>
                <key>sourceSize</key>
                <string>{137,120}</string>
            </dict>
            <key>3-g.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{265,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,119}}</string>
                <key>sourceSize</key>
                <string>{265,119}</string>
            </dict>
            <key>3-g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1141},{141,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,65}}</string>
                <key>sourceSize</key>
                <string>{141,65}</string>
            </dict>
            <key>3-g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{281,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,135}}</string>
                <key>sourceSize</key>
                <string>{281,135}</string>
            </dict>
            <key>3-h.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,906},{120,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,194}}</string>
                <key>sourceSize</key>
                <string>{120,194}</string>
            </dict>
            <key>3-h2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1386},{73,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,113}}</string>
                <key>sourceSize</key>
                <string>{73,113}</string>
            </dict>
            <key>3-h3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{136,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,210}}</string>
                <key>sourceSize</key>
                <string>{136,210}</string>
            </dict>
            <key>3-i.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1141},{174,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,163}}</string>
                <key>sourceSize</key>
                <string>{174,163}</string>
            </dict>
            <key>3-i2.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,253},{89,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,84}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
            <key>3-i3.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,796},{190,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,179}}</string>
                <key>sourceSize</key>
                <string>{190,179}</string>
            </dict>
            <key>3-j.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,132},{280,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,119}}</string>
                <key>sourceSize</key>
                <string>{280,119}</string>
            </dict>
            <key>3-j2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1198},{150,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,67}}</string>
                <key>sourceSize</key>
                <string>{150,67}</string>
            </dict>
            <key>3-j3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,135}}</string>
                <key>sourceSize</key>
                <string>{296,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>figure.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad1565b81730d0a2768224a1829bde30$</string>
            <key>textureFileName</key>
            <string>figure.png</string>
        </dict>
    </dict>
</plist>
